---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del Proyecto">
    <h2>Acerca del Proyecto</h2>
    <p>En este proyecto quise quise implementar <span>Astro 🚀</span> y <span>Tailwind CSS</span></p>
</Layout>