---


---

<header class="grid grid-cols-4 max-w-5xl py-8 px-4 mx-auto lg:py-16 lg:px-6">
    <div class="col-start-1 col-span-2 align-middle text-left mb-8 lg:mb-16">
        <h2 class="mb-4 min-[320px]:text-2xl md:text-4xl xl:text-5xl tracking-tight font-extrabold text-white">
            App del Clima ☁️
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            La información del Clima a tu alcance.
        </p>
    </div>
</header>